/sequence_data.jl
/trained_model.keras
/history/
/outputlog.txt
/.idea/.gitignore
/.idea/deployment.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/simple_keras_timeseries_encoder.iml
/.idea/vcs.xml
